# In CI environemt, do not operate in client/server mode
startup --batch
build --spawn_strategy=standalone
build --genrule_strategy=standalone
test --test_strategy=standalone

# Limit RAM usage
test --ram_utilization_factor=10

# ForceBbazel output to use colors
common --color=yes

# Configure tests - increase timeout, print errors and timeout warnings
test --verbose_failures
test --test_output=errors
test --test_verbose_timeout_warnings

# Disable progress displaying as logs can get really messy
test --noshow_loading_progress
test --noshow_progress

